<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body ng-controller="Todolist as todolist">

<section class="todoapp">

  <!--Header-->
  <header class="header">

    <!-- Header Title-->
    <h1>{{todolist.title}}</h1>

    <!--Header Form-->
    <input class="new-todo"
           ng-model="todolist.item.text"
           placeholder="What needs to be done?"
           ng-keypress="todolist.addItem($event)"
           autofocus>
  </header>

  <!-- Content -->
  <section class="main">

    <!-- Toggle-->
    <input class="toggle-all"
           type="checkbox">

    <!-- List -->
    <ul class="todo-list">

      <!-- Item -->
      <li ng-repeat="item in todolist.items"
          ng-class="todolist.getClass(item)">

        <div class="view">
          <input class="toggle"
                 ng-model="item.done"
                 type="checkbox">

          <label ng-dblclick="todolist.editMode(item, true)">{{item.text}}</label>

          <button ng-click="todolist.removeItem(item)"
                  class="destroy">
          </button>

        </div>

        <input ng-blur="todolist.editMode(item, false)"
               class="edit"
               ng-model="item.text">

      </li>



    </ul>
    <!-- /List-->
  </section>
  <!-- /Content-->

  <!--Footer-->
  <footer class="footer">
    <span class="todo-count">
      <strong>1</strong>
      item left
    </span>
    <button class="clear-completed">Clear completed</button>
  </footer>
  <!--End Footer-->

</section>
<script src="bundle.js"></script>
</body>
</html>